<!--<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>Evento.Web</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/counter"]'>Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/fetch-data"]'>Fetch data</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>-->
<!-- header-start -->
<header>
  <div class="header-area ">
    <div id="sticky-header" class="main-header-area ">
      <div class="container-fluid p-0">
        <div class="row align-items-center justify-content-between no-gutters">
          <div class="col-xl-2 col-lg-2">
            <div class="logo-img">
              <a href="index.html">
                <img src="img/logo.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-xl-8 col-lg-8">
            <div class="main-menu  d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a class="active" href="#home">Home</a></li>
                  <li><a href="#palestrantes">Palestrantes</a></li>
                  <li><a href="#programacao">Programação</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 d-none d-lg-block">
            <div class="buy_ticket">
              <a href="#" class="boxed-btn-white" [routerLink]='["/inscricao"]'>INSCREVA-SE</a>
            </div>
          </div>
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header-end -->
