    <!-- speakers_start -->
<div class="speakers_area" id="palestrantes">
  <h1 class="horizontal_text d-none d-lg-block">
    Palestrantes
  </h1>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="serction_title_large mb-95">
          <h3>
            Palestrantes
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-5 col-md-6">
        <div class="single_speaker">
          <div class="speaker_thumb">
            <img src="../assets/img/speakers/1.png" alt="">
            <div class="hover_overlay">
              <div class="social_icon">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="speaker_name text-center">
            <h3>Palestrante</h3>
            <p>Developer</p>
          </div>
        </div>
        <div class="single_speaker">
          <div class="speaker_thumb">
            <img src="../assets/img/speakers/3.png" alt="">
            <div class="hover_overlay">
              <div class="social_icon">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="speaker_name text-center">
            <h3>Palestrante</h3>
            <p>Developer</p>
          </div>
        </div>
      </div>
      <div class="col-xl-5 offset-xl-2 col-md-6">
        <div class="single_speaker">
          <div class="speaker_thumb">
            <img src="../assets/img/speakers/2.png" alt="">
            <div class="hover_overlay">
              <div class="social_icon">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="speaker_name text-center">
            <h3>Palestrante</h3>
            <p>Developer</p>
          </div>
        </div>
        <div class="single_speaker">
          <div class="speaker_thumb">
            <img src="../assets/img/speakers/1.png" alt="">
            <div class="hover_overlay">
              <div class="social_icon">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="speaker_name text-center">
            <h3>Palestrante</h3>
            <p>Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- speakers_end-->
